body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav a {
  margin: 0 20px;
}

#root {
  text-align: center;
}

.App-header {
  margin-bottom: 20px;
}

table {
  display: inline-block;
  text-align: left;
}

tr td:first-of-type {
  font-weight: bold;
}

.resultList,
.historyItemsWrapper {
  max-width: 500px;
  display: inline-block;
}

.resultList li {
  padding: 5px;
  margin: 5px 0;
  background-color: #fee;
  cursor: pointer;
}

.resultList li:nth-child(even){
  background-color: #efe;
}
